{% if CREDENTIALS_KEY %}aws s3 cp s3://{{ CREDENTIALS_BUCKET }}/{{ CREDENTIALS_KEY }} {{ CREDENTIALS_DEST_PATH }}
{% endif %}python3 manage.py migrate --noinput
exec python3 manage.py runserver 0.0.0.0:5000 --insecure --noreload
